PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/evasite
GOOGLE_SHEETS_ID=
GOOGLE_SHEETS_RANGE=Sheet1!A:I
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
